# Virtual Environments
venv/
env/
.env
.venv/

# Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / Packaging
dist/
build/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# OS specific files (Mac/Windows)
.DS_Store
Thumbs.db

# custom
docs/
!docs/superpowers/specs/
.superpowers/
.worktrees/
.agents/
extension-firefox.xpi
conductor/
build_test/
!tests/
flatpak_app_dir/
AppDir/
appimagetool.AppImage
test_app.py