[Desktop Entry]
Name=Bengal Download Manager
Exec=bengal-download-manager
Icon=bengal-download-manager
Type=Application
Categories=Network;FileTransfer;
Terminal=false
Comment=Multi-threaded download manager built with Aria2 backend.
StartupWMClass=io.github.tazihad.bengal-download-manager

